.tab-content.hero {
  display: flex;
  gap: 10px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  aspect-ratio: 1;
  position: relative;
  padding: 10px;
}

.nickname {

}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  display: block;
  border: 1px solid #000;
  border-radius: 10px;
}

.hero-image {

}

.stats {
  display: flex;
  align-items: center;
}

.stats-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
  
.stats-item {
  display: contents;
}
  
.stats-item::before {
  content: attr(data-label);
  grid-column: 1;
}
  
.stats-item span {
  grid-column: 2;
  padding-left: 10px;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: center;
  justify-content: center;
  width: 200px;
  aspect-ratio: 1;
  gap: 5px;
}

.inventory-item {
  width: 35px;
  aspect-ratio: 1;
  border: 1px solid #000;
  border-radius: 10px;
}