@import url(./normalize.css);
@import url(./fonts.css);

.page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    width: 98vw;
    height: 98vh;
    overflow: hidden;
    gap: 10px;
    margin: 10px;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    user-select: none;
}

.header {
    border-radius: 10px;
    border: 1px solid #000;
}

.title {
    text-align: center;
}

.game-menu {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 3px;
}

.button {
    border-radius: 10px;
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace, sans-serif;
    background-color: transparent;
}

.game-zone {
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 10px;
    border: 1px solid #000;
}

.combat-zone {
    display: grid;
    grid-template-rows: 2fr auto;
    align-items: center;
    justify-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 30px;
}

.enemy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hp-container {
    width: 100px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
  
.hp-fill {
    height: 100%;
    background: #0F0;
    width: 100%;
    transition: width 0.5s ease;
}
  
.hp-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}

.enemy {
    display: flex;
    justify-content: center;
    width: 200px;
    aspect-ratio: 1;
    cursor: pointer;
}

.enemy-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.character-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    margin: 10px;
}

.tabs {
    display: flex;
    position: absolute;
    top: -22px;
    gap: 3px;
}

.tab {
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    border-bottom: none;
}

.tab.active {
    background-color: gray;
}

.tab-content {
    display: none;
    border-radius: 10px;
    border-start-start-radius: 0;
    border: 1px solid #000;
    min-height: 255px;
    min-width: 610px;
}

.tab-content.active {
    display: block;
}

/* Список героев */
.heroes-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 0;
    list-style: none;
}
  
.heroes-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
}
  
.hero-image {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
}
  
.hero-info {
    flex-grow: 1;
}
  
.hero-name {
    margin: 0;
}
  
.hero-description {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
}